/* ========== borders ==========*/
html:before,html:after,body:before,body:after{
	z-index:99;
	content:"";
	display:block;
	position:fixed;
	background:#bad2ea;

	border: 1px solid #343434;
}

/*top*/
html:before{
	height:10px;
	top:0;
	left:0;
	right:0;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
/*bottom*/
html:after{
	height:10px;
	bottom:0;
	left:0;
	right:0;
	border-top: none;
}
/*left*/
body:before{
	width:10px;
	top:0;
	bottom:0;
	left:0;
	border-right: none;
	border-top-left-radius: 5px;
}
/*right*/
body:after{
	width:10px;
	top:0;
	bottom:0;
	right:0;
	border-left: none;
	border-top-right-radius: 5px;
}



/* ========== layout ==========*/
body {
	padding: 10px;
	font-family: "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
	font-size: 9pt;
	cursor: default;
}

a { text-decoration: none; color: #000; }

/* ========== header ==========*/
header {
	z-index:99;
	display: block;
	position: fixed;
	top: 11px;
	left: 11px;
	right: 11px;
	background:#bad2ea;
}
#iconImg {
	position: absolute;
	top: 0px;
	left: 0px;
}
#headerTitle  {
	display: inline-block;
	margin: 0;
	padding: 1px 0 0 21px;
	height: 19px;
	line-height: 19px;
}

/* ========== nav ========== */
#mainMenuUl:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
#mainMenuUl {
	background: #dee3f3;
	border: 1px solid #f0f0f0;
	border-bottom: 1px solid #b6bccc;
}
.mainMenu {
	position: relative;
	float: left;
	padding: 0 6px;
	height: 16px;
	line-height: 16px;
	border: 1px solid transparent;
}
.mainMenu:hover {
	background: #d8dcea;
	border: 1px solid #b0b1b1;
	border-radius: 3px;
}
.mainMenu.selected {
	border: 1px solid #4b4d53;
	border-top-color: #585859;
	border-bottom-color: #404247;
	border-radius: 3px;
}
.mainMenu.selected .subMenuUl {
	display: block !important;
}

.subMenuUl {
	z-index: 9;
	display: none;
	position: absolute;
	top: 17px;
	left: -2px;
	padding: 2px;
	white-space: nowrap;
	background: #f0f0f0 url(../img/line_e2e3e3-fff.png) repeat-y 28px 0;
	border: 1px solid #979797;
	box-shadow: 1px 2px 3px #979797;
}
.subMenuUl .line {
	margin: 3px 0 3px 27px;
	height: 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #fff;
}
.subMenu {
	border: 1px solid transparent;
}
.subMenu:hover {
	border: 1px solid #aecff7;
	border-radius: 3px;
}
.subMenu p {
	margin: 0 55px 0 28px;
	padding-left: 5px;
	height: 20px;
	line-height: 20px;
}
.widthShortCut .subMenu p {
	margin-right: 90px;
}
.subMenu span {
	position: absolute;
	right: 20px;
}
.subMenu a {
	color: inherit;
	text-decoration: none;
	cursor: default;
}

/* ========== article ========== */
section {
	margin: 42px 2px 50px;
	min-height: 600px;
	font-size: 10pt;
}


/* ========== Post ========== */
#postArticle:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
.imageItem {float: left; width: 30%; margin-left: 2.5%; cursor: pointer;}
.imageItem p { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.imageItem img { width: 100%;}
.modalOpen { cursor: pointer;}

/* ========== modal ========== */
.modal {
	display: none;
}
#modalBg {
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
}
#modalImg {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
}