<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<select id="selectMenuList" resultType="com.hangaebal.vo.MenuTableVO">
		SELECT *
		FROM menu
		WHERE del_yn = 'N'
		ORDER BY seq
	</select>

	<insert id="insertMenu" parameterType="com.hangaebal.vo.MenuTableVO">
		INSERT INTO menu (
			seq
			,title
		) VALUES (
			#{seq}
			,#{title}
		)
	</insert>

	<update id="updateMenu" parameterType="com.hangaebal.vo.MenuTableVO">
		UPDATE menu
		SET
			seq = #{seq}
			,title = #{title}
		WHERE
			id = #{id}
	</update>

	<update id="deleteMenu" parameterType="Long">
		UPDATE menu
		SET del_yn = 'Y'
		WHERE id = #{id}
	</update>

	<select id="selectMenuPostList" parameterType="Long" resultType="com.hangaebal.vo.PostTableVO">
		SELECT *
		FROM post
		<choose>
			<when test="value == null">
				WHERE menu_id = (SELECT id FROM menu ORDER BY seq LIMIT 1)
			</when>
			<otherwise>
				WHERE menu_id = #{value}
			</otherwise>
		</choose>
		AND del_yn = 'N'
		ORDER by seq
	</select>

	<select id="selectPostDetail" parameterType="Long" resultType="com.hangaebal.vo.PostTableVO">
		SELECT *
		FROM post
		WHERE id = #{value}
		AND del_yn = 'N'
	</select>

	<update id="updatePostSeq" parameterType="com.hangaebal.vo.PostTableVO">
		UPDATE post
		SET seq = #{seq}
		WHERE id = #{id}
	</update>

	<insert id="insertPost" parameterType="com.hangaebal.vo.PostTableVO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO post (
			seq
			,menu_id
			,type
			,title
			,year
			,contents
		) VALUES (
			(SELECT seq FROM (SELECT  IFNULL(MAX(seq),0) AS seq FROM post WHERE menu_id = #{menuId}) p) + 1
			,#{menuId}
			,#{type}
			,#{title}
			,#{year}
			,#{contents}
		)
	</insert>

	<update id="updatePost" parameterType="com.hangaebal.vo.PostTableVO">
		UPDATE post
		SET
			menu_id = #{menuId}
			,title = #{title}
			,year = #{year}
			,contents = #{contents}
		WHERE id = #{id}
	</update>

	<update id="deletePost" parameterType="Long">
		UPDATE post
		SET del_yn = 'Y'
		WHERE id = #{value}
	</update>

	<insert id="insertImage" parameterType="com.hangaebal.vo.ImageTableVO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO image (
			title
			,path
		) VALUES (
			#{title}
			,#{path}
		)
	</insert>

	<update id="updateImage" parameterType="com.hangaebal.vo.ImageTableVO">
		UPDATE image
		SET
			post_id = #{postId}
			,seq = #{seq}
		WHERE
			id = #{id}
	</update>

	<select id="selectPostImageList" parameterType="Long" resultType="com.hangaebal.vo.ImageTableVO">
		SELECT *
		FROM image
		WHERE
			post_id = #{value}
			AND del_yn = 'N'
		ORDER BY seq
	</select>

	<update id="deleteImage" parameterType="Long">
		UPDATE image
		SET del_yn = 'Y'
		WHERE id = #{value}
	</update>

	<update id="deletePostImage" parameterType="Long">
		UPDATE image
		SET del_yn = 'Y'
		WHERE post_id = #{value}
	</update>

</mapper>