<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

	<select id="selectMainMenuList" resultType="com.hangaebal.vo.dto.MenuDTO">
		SELECT
			*
			,IF(y.year_menu_id IS NULL, 'N', 'Y') AS has_year
		FROM menu
		LEFT OUTER JOIN (
			SELECT menu_id AS year_menu_id FROM post
			WHERE del_yn = 'N'
			AND year != ''
			GROUP BY year_menu_id
		) y
		ON menu.id = y.year_menu_id
		WHERE del_yn = 'N'
		ORDER BY seq
	</select>

	<select id="selectMainPostList" resultType="com.hangaebal.vo.PostTableVO">
		SELECT *
		FROM post
		WHERE del_yn = 'N'
		ORDER BY seq
	</select>

</mapper>